body {
    background: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.voiceinator {
    padding: 2rem;
    width: 50rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    position: relative;
    background: white;
    overflow: hidden;
    z-index: 1;
}
  
h1 {
    width: calc(100% + 4rem);
    margin: -2rem 0 2rem -2rem;
    padding: .5rem;
    background: #3f3f3f;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    text-shadow: 4px 4px 0 #000000;
}
  
.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
    width: 97%;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    font-size: 1.5rem;
    background: #c6c6c6;
    outline: 0;
    border-radius: 0.5rem;
}

label {
    color: black;
    font-size: 1.5rem;
    display: flex;
}

input {
    margin: 0rem;
}
  
textarea {
    height: 10rem;
}
  
.voiceinator button {
    background: #ffc600;
    border: 0;
    width: 49%;
    float: left;
    margin-bottom: 0;
    font-size: 2rem;
    border-bottom: 5px solid #F3C010;
    cursor: pointer;
    position: relative;
}
  
.voiceinator button:active {
    top: 2px;
}
  
.voiceinator button:nth-of-type(1) {
    margin-right: 2%;
}

@media (max-width:556px) {
    .voiceinator {
        margin-top: 4rem;
    }
    textarea {
        height: 20rem;
    }
    .voiceinator input,
    .voiceinator button,
    .voiceinator select,
    .voiceinator textarea {
        font-size: 2.5rem;
    }
    label {
        font-size: 2rem;
    }
    option {
        font-size: 1rem;
    }

}

@media (max-width:400px) {
    h1 {
        font-size: 5rem;
    }
    label {
        font-size: 3rem;
    }
}