body {
    background: rgb(37, 37, 37);
    color: white;
    font-family: sans-serif;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

li {
    list-style: none;
    padding: 0.5rem;
}

.heading {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.players {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    background-color: rgb(56, 56, 56);
    margin: 0.3rem 0;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.5rem;
}

.input-box {
    padding: 0.4rem;
    border: none;
    border-radius: 0.3rem;
    margin-right: 0.1rem;
    text-align: center;
}

.submit-btn {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background: skyblue;
    font-weight: bold;
}

.players input {
    display: none;
}

.players input + label:before {
    content: "⬜";
    margin-right: 0.3rem;
}

.players input:checked + label:before {
    content: "⚽";
}

.delete-all {
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1rem;
    background: yellow;
    font-weight: bold;
}

@media (max-width:600px) {
    .player {
        width: 90%;
    }
}

@media (max-width:330px) {
    .add-items {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}